<!DOCTYPE html>
<html>
  <head>
    <title>NewsAnalysis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
